*{
    margin: 0;
    padding: 0;
    font-family: "poppins" sans-serif;
    box-sizing: border-box;
}

.main-section {
    margin-top: 150px;
}


.level-100 {
  max-width: 100%; 
  margin: 0 auto;
  text-align: left; 
  padding: 20px; 
}

.level-100 h3 {
  font-size: 24px;
  margin-bottom: 10px;
}


.level-100 ul {
  list-style: none;
  padding-left: 0;
}

.carda {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
}

.deck {
  padding: 20px 12px 12px 0;
  font-size: 20px;
  font-weight: 700;
  color: #2c2a58;
}
.deck1 {
  padding: 20px 12px 12px 0;
  font-size: 15px;
  font-weight: 700;
  color: #bd9c6c;
}

.cards {
  padding: 10px;
}
.cards h2 {
  background-color: #bd9c6c;
  color: white;
  border-radius: 3px;
  padding-left: 10px;
}



.sub-l1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; 
  max-width: 80%;
  text-align: start;
  }

.l1 {

height: 100%; 
text-align: center;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column; 
max-width: 100%;
background-color: #f0f0f0;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
padding: 20px;
}

.sub-l1 p {
    vertical-align: top;
}

.l1 h1 {
    color: #2c2a58;
    font-size: 2.5rem;
}

.sub-l1 img {
max-width: 50%;
margin-right: 10px; 
}
 


@media screen and (max-width: 1700px) {
    .sub-l1 {
      flex-direction: column;
    }
  
    .sub-l1 img {
      max-width: 100%;
      margin-bottom: 10px;
      margin-right: 10px;
    }
    .li h1 {
        font-size: -70%;
    }
  }

@media screen and (max-width: 860px) {
    .sub-l1 {
      flex-direction: column;
      font-size: -20%;
    }
  
    .sub-l1 img {
      max-width: 100%;
      margin-bottom: 0;
      margin-right: 20px;
    }
  }

  
