
section {
    max-width: 95%;
    padding: 30px 15%;
    margin-top: 90px;
}

.contact {
    background-color: #2c2a58;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 2FR);
    align-items: center;
    grid-gap: 6rem;
    margin-bottom: 50px;
}

.img{
    max-width: 100%;
    width: 720px;
    height: auto;
    border-radius: 20px;
}

.contact-form h1 {
    font-size: 80px;
    color:#ffffff ;
    margin-bottom: 20px;
}

.contact p {
    margin-top: 25px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

span {
    color: #bd9c6c;
}

.contact-form {
    color: #ffffff;
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1.1rem;
    margin-bottom: 3.8rem;
}

.contact-form form {
    position: relative;
}

.contact-form form input, form textarea {
    width: 100%;
    padding: 17px;
    border: none;
    outline: none;
    background: #ededed;
    color: #2c2a58;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}

.contact-form textarea {
    resize: none;
    height: 200px;

}

.contact-form form .btn {
    display: inline-block;
    background: #ffffff;
    color: #000000;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 220px;
    transition: ease 0.20s;
    cursor: pointer;
}

h1 {
    margin-bottom: 20px;
}

.contact-form form .btn:hover {
    border: 2px solid #bd9c6c;
    background: transparent;
    color: #fff;
}

@media (max-width: 1570px) {
    section{
        padding: 80px 3%;
        transition: 0.20s;
    }
    .contact-form h1 {
        font-size: 60px;
    }
    .contact-form p {
        margin-bottom: 3rem;
    }
}
@media (max-width: 1090px) {
    .contact {
        grid-gap: 2rem;
        transition: 0.3s;
    }
}     
@media (max-width: 1000px) {
    .contact {
        grid-template-columns: 1fr;
    }
    .contact-form {
        order: 2;
    }
    .img img {
        max-width: 100%;
        width: 100%;
        height: auto;
        text-align: center;
        margin-bottom: 30px;
    }
}  